.footer_container {
    align-self:flex-end;
    margin-top: 7%;
    margin-right: 5%;
}

.buttonSubmit {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  background: #791E4B;
  border: 2px solid #B76D92;
  color:white;
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
  .buttonSubmit:hover {
    color:#791E4B;
    background: white;
  }
  .buttonSubmit:active {
    letter-spacing: 2px ;
  }
  .buttonSubmit:after {
    /* content:url('Vector.svg'); */
  }

.onclic {
  width: 40px;
  border-color:#bbbbbb;
  border-width:3px;
  font-size:0;
  border-left-color:#1ECD97;
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
    /* content:url('/tick-all.svg') */
  }
  .onclic:hover {
    color:#1ECD97;
    background: #791E4B;
  }


.validate {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  border: 2px solid #1ECD97;
  color:#1ECD97;
  letter-spacing:1px;
  text-shadow:0;
  font-weight:bold;
  cursor: pointer;
  transition: all 0.25s ease;
  font-size:13px;
  color: white;
  background: #1ECD97;

  }

  .validate::after {
    content:url('/tick-all.svg'); 
  }


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  } 